<h2 class="vehicle-title">Vehicle - ID: <%= @vehicle.id %></h2>

<div class="vehicle-info">
    <p><strong>Brand:</strong> <%= @vehicle.brand %></p>
    <p><strong>Model:</strong> <%= @vehicle.model %></p>
    <p><strong>Year:</strong> <%= @vehicle.year %></p>
    <p><strong>Plate:</strong> <%= @vehicle.plate %></p>
    <p><strong>Type:</strong> <%= @vehicle.kind %></p>
</div>

<div class="actions">
    <%= button_to 'Return', vehicles_path, method: :get, class: "btn btn-return" %>
</div>
